<div class="beer-card">
  <% if beer.photo.attached? %>
    <%= image_tag beer.photo %>
  <% end %>
  <%= beer.name %>
  <%= beer.style %>
  <%= beer.brewery %>
  <%= beer.origin %>
  <%= link_to "Delete", beer_path(beer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <button data-action="click->toggler#toggle" data-target="editBeerForm"> Edit </button>
  <div class="edit-beer-form d-none" data-toggler-target="editBeerForm">
    <%= render partial: "edit_beer", locals: { beer: beer } %>
  </div>
</div>
