<div class="game-page" data-controller="toggler">
  <h1> <%= @game.title %> </h1>
  <button data-action="click->toggler#toggle" data-target="playerForm"> Add a player </button>
  <button data-action="click->toggler#toggle" data-target="beerForm"> Add a beer </button>
  <button> Choose difficulty </button>
  <button> Start game </button>
  <div data-toggler-target="playerForm" class="d-none">
    <%= render 'new_player', player: @player %>
  </div>
  <div data-toggler-target="beerForm" class="d-none">
    <%= render 'new_beer', beer: @beer %>
  </div>
  <div class="container">
    <% @players.each do |player| %>
      <%= player.name %>
    <% end %>
  </div>
  <div class="container">
    <% @beers.each do |beer| %>
      <%= render partial: "beer_card", locals: { beer: beer } %>
    <% end %>
  </div>
  <div data-controller="map"
        id='map'
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-markers-value="<%= @markers.to_json %>"
        style='width: 100%; height: 300px;'>
  </div>
</div>
