<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineBottles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# Mapbox Setup %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <%# Render Navbar  %>
  <%= render "shared/navbar" %>
  <%# Flash messages, need to move/style later one %>
  <%= render "shared/flashes" %>
  <body>
    <%= yield %>
  </body>
</html>
